[Unit]
Description=AirBnb Gunicorn App
After=network.target

[Service]
User=ubuntu

WorkingDirectory=~/AirBnB_clone_v4/
ExecStart=gunicorn --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app

StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=my-gunicorn-app

[Install]
WantedBy=default.target
